.button {
  margin-left: 500px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border-color: #ff6b08;
  border-radius: 0px 5px;
}

.button:hover {
  transform: scale(1.01);
  box-shadow: 3px 3px 3px 3px #ff6b08;
  border: 2px solid #000000;
}

.button::before {
  content: '◀';
  /* color: #000000; */
  color: #ff6b08;
  margin-right: 2px;
}
.button:hover::before {
  content: '◀';
  /*  color: orange; */
  color: #000000;
  margin-right: 2px;
}
